.btn-loader[data-v-93778d24] {
    position: relative;
    margin-top: 1.5rem;
    height: 2.5rem;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 700
}

@media (min-width:1024px) {
    .btn-loader[data-v-93778d24] {
        height: 50px
    }
}

@media (min-width:1280px) {
    .btn-loader[data-v-93778d24] {
        margin-top: 1.875rem
    }
}

.preloder[data-v-93778d24] {
    position: relative;
    display: flex;
    height: 2.5rem;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity))
}

@media (min-width:1024px) {
    .preloder[data-v-93778d24] {
        height: 50px
    }
}

button[data-v-93778d24] {
    position: absolute;
    display: flex;
    height: 2.5rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgba(0, 0, 0, var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
    padding-top: 0;
    padding-bottom: 0;
    font-size: .875rem;
    line-height: 1.063rem;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity))
}

@media (min-width:1024px) {
    button[data-v-93778d24] {
        height: 50px;
        font-size: 1rem;
        line-height: 1.25rem
    }
}

button[data-v-93778d24]:disabled {
    cursor: not-allowed;
    --tw-bg-opacity: 1;
    background-color: rgba(229, 231, 234, var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgba(127, 135, 148, var(--tw-text-opacity));
    --tw-text-opacity: 0.5
}

button.minimizar[data-v-93778d24] {
    left: 0;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-duration: .3s;
    width: 60px
}

.loader[data-v-93778d24],
.loader[data-v-93778d24]:after,
.loader[data-v-93778d24]:before {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load-93778d24 1.8s infinite ease-in-out;
    animation: load-93778d24 1.8s infinite ease-in-out
}

.loader[data-v-93778d24] {
    position: relative;
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
    font-size: 6px;
    margin: 5px auto;
    text-indent: -9999em;
    -webkit-animation-delay: -.16s;
    animation-delay: -.16s;
    transform: translateZ(0)
}

.loader[data-v-93778d24]:after,
.loader[data-v-93778d24]:before {
    position: absolute;
    top: 0
}

.loader[data-v-93778d24]:after,
.loader[data-v-93778d24]:before {
    content: ''
}

.loader[data-v-93778d24]:before {
    left: -2.5em;
    -webkit-animation-delay: -.32s;
    animation-delay: -.32s
}

.loader[data-v-93778d24]:after {
    left: 2.5em
}

.progress-container[data-v-93778d24] {
    margin-right: .75rem;
    width: 100%
}

.progress-bar[data-v-93778d24] {
    border-radius: 5px;
    height: 5px;
    width: var(--58915306)
}

@-webkit-keyframes load-93778d24 {

    0%,
    100%,
    80% {
        box-shadow: 0 2.5em 0 -1.3em
    }

    40% {
        box-shadow: 0 2.5em 0 0
    }
}

@keyframes load-93778d24 {

    0%,
    100%,
    80% {
        box-shadow: 0 2.5em 0 -1.3em
    }

    40% {
        box-shadow: 0 2.5em 0 0
    }
}

.eva-logo[data-v-0ca60b95] {
    position: absolute;
    left: 1.25rem;
    height: 1.75rem
}

@media (min-width:1024px) {
    .eva-logo[data-v-0ca60b95] {
        position: static;
        height: 78px
    }
}

.eva-logo[data-v-0ca60b95] {
    top: 13px
}

@media (min-width:1280px) {
    .brand-logo[data-v-0ca60b95] {
        position: absolute;
        top: 50%;
        left: 3rem;
        --tw-translate-x: 0;
        --tw-translate-y: 0;
        --tw-rotate: 0;
        --tw-skew-x: 0;
        --tw-skew-y: 0;
        --tw-scale-x: 1;
        --tw-scale-y: 1;
        transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
        --tw-translate-y: -50%
    }
}

.brand-logo[data-v-0ca60b95] {
    height: 106px
}

@media (min-width:1280px) {
    .brand-logo-corriente[data-v-0ca60b95] {
        position: absolute;
        left: 3rem;
        --tw-translate-x: 0;
        --tw-translate-y: 0;
        --tw-rotate: 0;
        --tw-skew-x: 0;
        --tw-skew-y: 0;
        --tw-scale-x: 1;
        --tw-scale-y: 1;
        transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
        --tw-translate-y: -50%
    }
}

.brand-logo-corriente[data-v-0ca60b95] {
    height: 106px
}

.container-login[data-v-0ca60b95] {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    width: 100%;
    padding-left: .75rem;
    padding-right: .75rem
}

@media (min-width:1280px) {
    .container-login[data-v-0ca60b95] {
        padding-left: 4rem;
        padding-right: 4rem
    }
}

.container-login[data-v-0ca60b95] {
    max-width: 100%
}

.frase-contenedor[data-v-0ca60b95] {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    max-width: 281px
}

.frase-aleatoria[data-v-0ca60b95] {
    text-align: center;
    font-size: 1.125rem;
    line-height: 1.375rem;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity))
}

@media (min-width:1024px) {
    .frase-aleatoria[data-v-0ca60b95] {
        font-size: 1.875rem;
        line-height: 2.3125rem
    }
}

@media (min-width:1024px) {
    .brand-logo[data-v-0ca60b95] {
        height: 141px
    }

    .brand-logo-corriente[data-v-0ca60b95] {
        height: 141px
    }

    .container-login[data-v-0ca60b95] {
        max-width: 507px;
        padding-left: 70px;
        padding-right: 70px
    }

    .frase-contenedor[data-v-0ca60b95] {
        padding-top: 0;
        padding-bottom: 0;
        height: 168px
    }
}